$hover-color: rgb(238, 233, 222);

.arrowTop {
  position: fixed;
  bottom: 110px;
  right: -40px;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  @include transition(all);

  .material-icons {
    margin: 0;
    color: $orange-color;
    border: 2px solid $orange-color;
    border-radius: 50%;
    font-size: 44px;
    @include transition(all);
    &:hover,
    &:focus {
      background-color: $hover-color;
      transform: scale(1.15);
    }
  }
}

.arrowTop.show {
  opacity: 1;
  visibility: visible;
  right: calc(2.5%);
}
