.nav__style-container {
  cursor: pointer;
  margin-right: 28px;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  color: $white-color;
  &:hover .auth__icon,
  &:hover .nav__auth-link,
  &:hover .nav__auth-text {
    color: $orange-slave-color;
  }
}
.loggined {
  color: $orange-color;
  .nav__auth-link {
    border-color: $orange-color;
    i {
      color: $orange-color;
    }
  }
}

.nav__auth-link {
  position: relative;
  outline: transparent;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid $white-color;
  background-color: transparent;
  //&:hover {
  //  border-color: $orange-slave-color;
  //}
}

.nav__auth-text {
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  color: $white-color;
  &:hover {
    color: $orange-color;
  }
}

.material-icons.auth__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: auto;
  font-size: 30px;
  color: $white-color;
  &:hover {
    color: $orange-color;
  }
}

.nav__auth-img {
  border-radius: 50%;
}

.selected {
  align-self: center;
}

@media screen and (min-width: 768px) {
  .nav__style-container {
    margin-right: 140px;
  }
}

@media screen and (min-width: 1024px) {
  .nav__style-container {
    margin-right: 272px;
  }
}
