.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 280px;
}
.card {
  display: block;
  list-style: none;
}
.card-img {
  margin-bottom: 10px;
  border-radius: 5px;
  height: 398px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: scale(1.03);
  }
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .gallery {
    padding: 20px;
  }
  .card {
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .card-img {
    width: 280px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .gallery {
    padding-top: 60px;
    padding-left: 75px;
    padding-right: 75px;
  }
  .card {
    width: calc((100% - 30px) / 2);
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
  .card-img {
    width: 294px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery {
    padding-top: 60px;
    padding-left: 71px;
    padding-right: 71px;
  }
  .card {
    width: calc((100% - 60px) / 3);
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
    &:not(:nth-last-child(-n + 3)) {
      margin-bottom: 30px;
    }
  }
  .card-img {
    width: 274px;
  }
}

.card-title,
.card-genre,
.card-release-year,
.card-vote {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
}
.card-title {
  line-height: 1.167;
  text-transform: uppercase;
  color: $black-color;
}
.card-genre,
.card-release-year {
  display: inline-block;
  line-height: 1.33;
  color: $orange-color;
}
.card-genre {
  margin-right: 4px;
}
.card-release-year {
  position: relative;
  margin-right: 10px;

  &::before {
    position: absolute;
    left: -4px;
    top: 1px;
    content: '';
    width: 1px;
    height: 12px;
    background-color: $orange-color;
  }
}
.card-vote {
  display: none;

  &.is-visible {
    display: inline-block;
    text-align: center;
    width: 36px;
    height: 16px;
    text-transform: uppercase;
    color: $white-color;
    background: $orange-color;
    border-radius: 5px;
    border: 1px solid $orange-color;
  }
}
