.footer-them-color {
  background-color: $footer-background-color;
}

.section-footer {
  align-items: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-text {
  font-family: $main-font;
  color: #545454;
}

.material-icons {
  color: rgb(255, 107, 8);
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-link {
  color: #545454;
  list-style-type: none;
  font-style: normal;
  border-bottom: 1px solid rgba(84, 84, 84, 1);
  margin-left: 5px;
}

@media screen and (min-width: 320px) {
  .section-footer-text {
    display: grid;
  }
  .footer-text {
    font-size: 14px;
  }
  .footer-span {
    display: flex;
    justify-content: center;
    margin-left: 4px;
  }
}
@media screen and (max-width: 767px) {
  .footer-span {
    margin-top: 10px;
  }
}
@media screen and (min-width: 768px) {
  .section-footer-text {
    display: flex;
    justify-content: center;
  }
  .footer-text {
    font-size: 16px;
  }
}

// ======== footer modal =======

.modal__container__footer {
  // background-color: #fff;
  padding-left: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: $footer-background-color;
}

.modal__content {
  display: flex;
  flex-wrap: wrap;
}
.modal__content:nth-child(2n + 1) {
  margin-right: 5px;
}

.modal__content:nth-child(-n + 12) {
  margin-bottom: 5px;
}
.footer-team-link-list {
  margin-right: 10px;
  margin-bottom: 10px;
}
.team-name-header {
  margin-top: 10px;
  font-family: $main-font;
  color: #545454;
  text-align: center;
}
.team-name {
  font-family: $main-font;
  font-size: 12px;
  color: #545454;
  text-align: center;
}
.sosial-links {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.footer-team-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.fab {
  color: #545454;
  font-size: 10px;
}
.sosial-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: rgb(255, 107, 8);
    color: #ffffff;
    .i-link {
      color: #ffffff;
    }
  }
}
