// ** styles for modal window **//
.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal__container {
  background-color: #fff;
  padding: 10px;
  max-width: 280px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

// ** modal content styles**//
.movie-tmpl {
  min-width: 280px;
  font-family: $main-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.8em;
}
.movie-img {
  width: 280px;

  border-radius: 5px;
  margin-bottom: 30px;
  margin-right: 20px;
}

.movie-title {
  font-size: 20px;
  line-height: 1.172em;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.movie-item {
  position: relative;
  display: block;
}
.movie-item-title {
  color: $modal-slave-color;
  margin-right: 40px;
}

.vote {
  display: inline-block;
  text-align: center;
  vertical-align: middle; // fix by marvall
  line-height: 1.167; // fix by marvall
  width: 36px;
  height: 16px;
  text-transform: uppercase;
  color: $white-color;
  background: $orange-color;
  border-radius: 5px;
  border: 1px solid $orange-color;
}

.votes {
  display: inline-block;
  vertical-align: middle; // fix by marvall
  line-height: 1.167; // fix by marvall
  width: 36px;
  height: 16px;
  background: $footer-background-color;
  border-radius: 5px;
  border: 1px solid $footer-background-color;
  color: $black-color;
  text-align: center;
}

.movie-item:not(:last-child) {
  margin-bottom: 10px;
}
.movie-item:last-child {
  margin-bottom: 20px;
}
.about-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.movie-review {
  line-height: 1.33em; //fix by marvall
  margin-bottom: 30px;
}
.btn-modal {
  padding: 0;
  width: 136px;
  height: 44px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 5px;
  border-color: transparent;

  color: $black-color;
  background: $white-color;
  border-color: $modal-slave-color;
  &:hover {
    outline: none;
    border: none;
    background: $orange-slave-color;
    color: $white-color;
  }
}
.btn-modal-to-wached {
  margin-right: 15px;
}

.btns-modal {
  display: flex;
}

//**@media for modal container and modal content**/
@media screen and (min-width: 320px) and (max-width: 767px) {
  .movie-tmpl {
    width: 100%;
  }
  .modal__container {
    padding: 20px;
    width: 100%;
  }
  .movie-img {
    width: calc(100% - 40px);
    margin-bottom: 30px;
  }
  .movie-item > .value {
    position: absolute;
    left: 80px;
    &.votes {
      left: 130px;
    }
    &.between {
      left: 120px;
    }
  }
  .about-title {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-transform: uppercase;
  }
  .movie-review {
    width: calc(100% - 40px);
  }
  .btn-modal {
    width: calc((100% - 55px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .modal__container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 570px;
  }
  .movie-description {
    width: 240px;
  }

  .movie-tmpl {
    display: flex;
  }
  .movie-img {
    width: 250px;
    height: 416px;
  }
  .movie-card {
    display: flex;
  }
  .movie-review {
    line-height: 1.8em;
  }
  .btn-modal-to-wached {
    padding: 3px;
  }
  .movie-title {
    font-size: 30px;
    line-height: 1.172em;
    word-break: break-word;
  }
}

@media screen and (min-width: 1024px) {
  .movie-tmpl {
    font-size: 15px;
  }
  .modal__container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 670px;
  }

  .movie-description {
    width: 280px;
  }
  .movie-img {
    height: 514px;
    width: 350px;
  }

  .movie-review {
    margin-bottom: 40px;
  }

  .movie-card-about {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .movie-tmpl {
    font-size: 18px;
  }
  .modal__container {
    max-width: 870px;
  }
  .movie-description {
    width: 440px;
  }
  .btns-modal {
    justify-content: center;
  }
  .btn-modal {
    width: 186px;
    height: 55px;
    font-size: 18px;
  }
  .btn-modal-to-wached {
    margin-right: 40px;
  }
  .movie-title {
    font-size: 35px;
    margin-bottom: 40px;
  }
  .movie-item-title {
    margin-right: 80px;
  }
  .about-title {
    margin-bottom: 20px;
  }
  .movie-review {
    margin-bottom: 50px;
  }
  .vote,
  .votes {
    width: 46px;
    height: 20px;
  }

  .movie-img {
    margin-right: 30px;
  }
}
/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden='false'] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='false'] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
