// ** styles for modal window **//
.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal__container {
  background-color: #fff;
  padding: 10px;
  max-width: 280px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before {
  content: '\2715';
}
// ** modal content styles**//
.movie-tmpl {
  font-family: $main-font;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.8em;
}
.movie-img {
  width: 280px;

  border-radius: 5px;
  margin-bottom: 30px;
  margin-right: 20px;
}
.movie-title {
  font-size: 20px;
  line-height: 1.172em;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.movie-item-title {
  color: #8c8c8c;
  margin-right: 40px;
}

.vote {
  display: inline-block;
  text-align: center;
  vertical-align: middle; // fix by marvall
  line-height: 1.16em; // fix by marvall
  width: 36px;
  height: 16px;
  text-transform: uppercase;
  color: #ffffff;
  background: #ff6b01;
  border-radius: 5px;
  border: 1px solid #ff6b01;
}

.votes {
  display: inline-block;
  vertical-align: middle; // fix by marvall
  line-height: 1.16em; // fix by marvall
  width: 36px;
  height: 16px;
  padding-top: 1px;
  padding-bottom: 1px;

  background: #f7f7f7;
  border-radius: 5px;
  color: $black-color;
  text-align: center;
}

.movie-item:not(:last-child) {
  margin-bottom: 10px;
}
.movie-item:last-child {
  margin-bottom: 20px;
}
.about-title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.movie-review {
  line-height: 1.33em; //fix by marvall
  margin-bottom: 30px;
}
.btn {
  width: 136px;
  height: 44px;

  text-transform: uppercase;
  border-radius: 5px;
  border-color: transparent;
}
.btn-to-wached {
  background: $orange-color;
  margin-right: 4px;
  color: $white-color;
  font-size: 12px;
}
.btn-to-queue {
  color: $black-color;
  background: $white-color;
  font-size: 12px;
  border-color: black;
}
.btns {
  display: flex;
  margin-bottom: 40px;
}

//**@media for modal container and modal content**/
@media screen and (min-width: 768px) {
  .modal__container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 570px;
  }
  .movie-description {
    width: 240px;
  }

  .movie-tmpl {
    display: flex;
  }
  .movie-img {
    width: 250px;
    height: 416px;
  }
  .movie-card {
    display: flex;
  }
  .movie-review {
    line-height: 1.8em;
  }
  .btn-to-wached {
    padding: 3px;
  }
  .movie-title {
    font-size: 30px;
    line-height: 1.172em;
    word-break: break-word;
  }
}

@media screen and (min-width: 1024px) {
  .modal__container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 670px;
  }
  .movie-img {
    height: 514px;
    width: 350px;
  }

  .movie-card-about {
    margin-bottom: 20px;
  }
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden='false'] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='false'] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden='true'] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
