$hover-color: rgb(238, 233, 222);

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 46px;

  background-color: inherit;
}

.paginationjs-pages ul {
  display: flex;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 2px;

    width: 40px;
    height: 40px;

    @media screen and (max-width: 450px) {
      width: 35px;
      height: 35px;
    }

    &.disabled {
      > a {
        opacity: 0.3;
        &:hover {
          background: none;
        }
      }
    }
  }

  li.paginationjs-ellipsis {
    width: 11px;

    @media screen and (max-width: 450px) {
      display: none;
    }
  }
}

.paginationjs-pages {
  li {
    border: none;
    a {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 100%;

      font-family: $main-font;
      font-weight: 500;
      color: $black-color;
      background-color: $white-color;

      font-size: 12px;
      line-height: 1.33;

      border-radius: 5px;
      outline-color: $orange-color;

      @include transition(all);
    }
    &.paginationjs-page > a {
      &:hover,
      &:focus {
        background-color: $hover-color;
        transform: scale(1.15);
      }
    }
  }

  .paginationjs-first,
  .paginationjs-last {
    @media screen and (max-width: 450px) {
      display: none;
    }
  }

  li.active > a {
    background-color: $orange-color;
    color: $white-color;

    @include transition(all);

    &:hover,
    &:focus {
      background-color: $orange-slave-color;
    }
  }
}

li.paginationjs-prev > a,
li.paginationjs-next > a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $footer-background-color;
  color: transparent;
  @include transition(transform);

  &:hover,
  &:focus {
    background-color: $hover-color;
    transform: scale(1.15);
  }
}

.paginationjs-prev .arrow,
.paginationjs-next .arrow {
  margin: 0;
  color: $black-color;
  font-size: 18px;
}

// =========================================================================

@media screen and (max-width: 767px) {
  .card:nth-child(n + 5) {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card:nth-child(n + 9) {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .card:nth-child(n + 10) {
    display: none;
  }
}

// ========================================================================
.btn-show-more {
  display: block;

  margin: 0 auto;
  margin-top: 20px;

  width: 136px;
  height: 44px;

  text-transform: uppercase;

  color: $black-color;
  background: $footer-background-color;

  border-radius: 5px;
  border: 1px solid $modal-slave-color;

  @include transition(all);

  cursor: pointer;

  &:focus,
  &:hover {
    outline: none;
    border: none;
    color: $white-color;
    background: $orange-color;
  }
}

// ================================================================
.main-section {
  padding-bottom: 60px;

  @media screen and (max-width: 767px) {
    padding-bottom: 40px;
  }
}
