.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 46px;
  margin-bottom: 60px;

  background-color: inherit;
}

.paginationjs-pages ul {
  display: flex;
  margin: 0;
  padding: 0;

  li {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 2px;

    width: 40px;
    height: 40px;

    @media screen and (max-width: 450px) {
      width: 35px;
      height: 35px;
    }

    &.disabled {
      > a {
        opacity: 0.3;
        &:hover {
          background: none;
        }
      }
    }
  }

  li.paginationjs-ellipsis {
    width: 11px;

    @media screen and (max-width: 450px) {
      display: none;
    }
  }
}

.paginationjs-pages {
  li {
    border: none;
    a {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 100%;

      font-family: $main-font;
      font-weight: 500;
      color: $black-color;
      background-color: $white-color;

      font-size: 12px;
      line-height: 1.33;

      border-radius: 5px;
      outline-color: $orange-color;
    }
  }
  .paginationjs-first,
  .paginationjs-last {
    @media screen and (max-width: 450px) {
      display: none;
    }
  }

  li.active > a {
    background-color: $orange-color;
    color: $white-color;
  }
}

li.paginationjs-prev > a,
li.paginationjs-next > a {
  background-color: #f7f7f7;
  color: transparent;
}

.paginationjs-prev:before {
  content: 'arrow_back';
  font-family: 'Material Icons';
  display: block;
  position: absolute;

  font-size: 20px;
  cursor: pointer;
}

.paginationjs-next:before {
  content: 'arrow_forward';
  font-family: 'Material Icons';
  display: block;
  position: absolute;

  font-size: 20px;
  cursor: pointer;
}
