$dark-choko-color: rgb(41, 32, 25);

.card-list {
  position: absolute;
  background-color: $white-color;
  width: 100%;

  background-image: linear-gradient(
    120deg,
    rgb(115, 99, 87) 0%,
    $dark-choko-color 100%
  );

  z-index: 100;
}

.card-title.small {
  display: flex;
  align-items: center;

  flex-basis: 70%;
  text-align: start;

  color: $orange-slave-color;
}

.card_small {
  display: flex;
  align-items: center;
  padding: 5px;

  border-bottom: 1px solid $dark-choko-color;
  @include transition(all);

  cursor: pointer;

  &:hover,
  &:focus {
    // transform: scale(1.05);

    .card-title.small {
      color: $dark-choko-color;
    }

    background-image: linear-gradient(
      120deg,
      rgb(209, 179, 154) 0%,
      rgb(70, 57, 48) 100%
    );
  }
}

.card-img_small {
  margin-right: 10px;
  width: 40px;
}

.card-vote.small {
  justify-items: flex-end;
}

.not-active {
  margin-bottom: 10px;
  border-radius: 5px;
  height: 398px;

  cursor: pointer;

  @media screen and (max-width: 767px) {
    width: 280px;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 294px;
  }

  @media screen and (min-width: 1024px) {
    width: 274px;
  }
}

.position-icon-youtube {
  top: 360px;
  right: -50px;
}
