$size: 12px;
$size2: 8px;
$time: 1;

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;

  .loading {
    color: $orange-color;
    margin: 5px 0;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    letter-spacing: 2px;

    @media screen and (max-width: 768px) {
      font-size: 8px;
    }
  }
}

.spinner-row {
  display: flex;

  .arrow {
    width: 0;
    height: 0;
    margin: 0 (-$size / 2);
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: ($size * 1.8) solid $orange-color;
    animation: blink $time + s infinite;
    filter: drop-shadow(0 0 ($size * 1.5) $orange-color);

    @media screen and (max-width: 768px) {
      margin: 0 (-$size2 / 2);
      border-left: $size2 solid transparent;
      border-right: $size2 solid transparent;
      border-bottom: ($size2 * 1.8) solid $orange-color;
    }

    &.down {
      transform: rotate(180deg);
    }

    @for $i from 1 through 18 {
      &.outer-#{$i} {
        animation-delay: -($time / 18) * $i + s;
      }
    }

    @for $i from 1 through 6 {
      &.inner-#{$i} {
        animation-delay: -($time / 6) * $i + s;
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
