<div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <main class="modal__content" id="modal-1-content">
            <p>
            <ul class="footer-team-link">
                <li class="footer-team-link-list">
                    <img class="footer-team-img">{{photo}}
                    <p class="team-name">{{name}}</p>
                    <ul class="sosial-links">
                        <li class="link-img">
                            <a href="{{instagram}}">
                                <i class="material-icons">instagram</i>
                            </a>
                        </li>
                        <li class="link-img">
                            <a href="{{facebook}}">
                                <i class="material-icons">facebook</i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            </p>
        </main>
    </div>
</div>