<div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container__footer" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
        <h2 class="team-name">Наша команда</h2>
        <main class="modal__content" id="modal-1-content">

            <p>
                {{#each this}}
            <ul class="footer-team-link">
                <li class="footer-team-link-list">
                    <img class="footer-team-img" src="{{photo}}">
                    <p class="team-name">{{name}}</p>
                    <ul class="sosial-links">
                        <li class="link-img">
                            <a href="{{instagram}}" target="_blank"></a>
                            <i class="material-icons">facebook</i>
                            </a>
                        </li>
                        {{!-- <li class="link-img">
                            <a href="" target="_blank">
                                <svg class="material-icons">
                                    <use href="./images/sprite.svg#instagram"></use>
                                </svg>
                            </a>
                        </li> --}}
                    </ul>
                </li>
            </ul>
            {{/each}}
            </p>
        </main>
    </div>
</div>