$main-font: 'Roboto', sans-serif;
$white-color: #ffffff;
$red-color: #ff001b;
$orange-color: #ff6b08;
$black-color: #000000;
$footer-text-color: #545454;
$footer-background-color: #f7f7f7;
$modal-slave-color: #8c8c8c;
$green-color: #1baa1b;

// миксин для транзишена

@mixin transition(
  $property,
  $time: 250ms,
  $timingFunction: cubic-bezier(0.4, 0, 0.2, 1)
) {
  transition: $property $time $timingFunction;
}
