<form class="film-search" action="">
  <input
    class="film-search-input"
    data-index="serchInfo"
    type="text"
    placeholder="Поиск фильмов"
    autocomplete="off"
  />
  <svg class="search-icon" width="12" height="12">
    <use href="./images/sprite.svg#icon-search-2"></use>
  </svg>
  <p class="film-search-input-error hidden" data-index="fetchStatus">
    Search result not successful! Enter the correct movie name and genre!
  </p>     
</form>
