<form class="film-search" action="">
  <input
    class="film-search-input"
    data-index="serchInfo"
    type="text"
    placeholder="Поиск фильмов"
    autocomplete="off"
  />
  <span class="material-icons white search-icon">search</span>
  <p class="film-search-input-error hidden" data-index="fetchStatus">
    Search result not successful! Enter the correct movie name and genre!
  </p>     
</form>
