// фоновое изображение хэддера
.header {
  position: relative;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 46px;
  padding-bottom: 158px;
}

// пока закоментил пока не решим стоит ли добавлять див

// .infinity-bg-color {
//   background-color: $black-color;
// }

// кнопки навигации и лого
.nav {
  display: flex;
  align-items: baseline;
}

.nav-logo {
  display: block;
  margin-right: 112px;
  font-weight: 500;
  font-size: 30px;
  color: $white-color;
}

.nav-logo-icon {
  width: 24px;
  height: 24px;
}

.logo-style {
  display: flex;
  align-items: center;
}

.logo-text {
  display: none;
}

// утил классы что бы прятать варнинz
.hidden {
  display: none;
}

// инпут
.film-search {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.material-icons.white {
  margin: 0;
  color: $white-color;
}

.form__input-style {
  position: relative;
}

.search-icon {
  position: absolute;
  right: 0px;
}

.film-search-input {
  width: 280px;

  background: transparent;
  border: transparent;
  border-bottom: 1px solid $white-color;
  font-size: 14px;
  line-height: 1.17;

  color: $white-color;

  @include transition(border-bottom);

  &::placeholder {
    color: $white-color;

    // @include transition(color);
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid $orange-color;

    // &::placeholder {
    //   color: $orange-color;
    // }
  }
}

// варнинг для запроса
.film-search-input-error {
  position: absolute;

  font-size: 14px;
  line-height: 1.14;
  top: 225%;

  color: $red-color;
}

.myLibraryButtons {
  text-align: center;
}

.btn {
  position: relative;
  cursor: pointer;
  width: 132px;
  padding-top: 14px;
  padding-bottom: 12px;
  &:not(:last-child) {
    margin-right: 15px;
  }
  border: 1px solid $white-color;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $white-color;
}

.current__myLibraryBtn {
  background-color: $orange-color;
  border: 1px solid transparent;
}

@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 148px;
  }

  .nav-logo {
    margin-right: 307px;
  }
  .nav-logo-icon {
    margin-right: 10px;
  }

  .film-search {
    text-align: center;
  }

  .film-search-input {
    width: 330px;
  }

  .logo-text {
    display: block;
    font-weight: 500;
    font-size: 30px;
    color: $white-color;
  }

  .film-search-input-error {
    width: 616px;
    left: 50%;
    transform: translate(-50%);
  }
}

@media screen and (min-width: 1024px) {
  .nav-logo {
    margin-right: 573px;
  }

  .film-search-input-error {
    width: 882px;
  }
}
