.header {
  display: block;

  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(/images/background-mobile.jpg);
  background-color: $black-color;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 46px;
  padding-bottom: 97px;
}

.nav {
  display: flex;
  align-items: baseline;
  margin-bottom: 41px;
}

.nav-logo {
  display: block;
  margin-right: 112px;
  font-weight: 500;
  font-size: 30px;
  color: $white-color;
}

.nav-logo-icon {
  width: 24px;
  height: 24px;
}

.logo-style {
  display: flex;
  align-items: center;
}

.logo-text {
  display: none;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.film-search {
  position: relative;
  text-align: center;
}

.film-search-input {
  width: 280px;

  outline: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid $white-color;
  font-size: 14px;
  line-height: 1.17;

  color: $white-color;
  &::placeholder {
    color: $white-color;
  }
}

.film-search-input-error {
  position: absolute;

  font-size: 14px;
  color: $red-color;
}

@media screen and (min-width: 768px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(/images/background-tabl.jpg);
    background-color: $black-color;

    padding-top: 41px;
  }
  .nav-logo {
    margin-right: 307px;
  }
  .nav-logo-icon {
    margin-right: 10px;
  }

  .film-search-input {
    width: 330px;
  }
  .logo-text {
    display: block;
    font-weight: 500;
    font-size: 30px;
    color: $white-color;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(/images/background-desc.jpg);
    background-color: $black-color;

    padding-top: 41px;
  }
  .nav-logo {
    margin-right: 573px;
  }
}
